<!DOCTYPE html>
<html lang="en" dir="ltr">
    <% include ../partials/head.ejs %>
    <body>
        <!-- Hidden items -->
            <!-- modal -->
        <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
        </div>
            <!-- alert hover description -->
        <div class="alertInfo">
        </div>
        <!-- Visible Content -->
        <% include ../partials/header.ejs %>
        <div class="container-fluid">
            <a class="btn btn-dark btn-lg m-2" href="/dashboard/new">Claim A Carcass</a>
            <div class="row d-flex justify-content-start flex-nowrap p-2">
                <div class="col-7 d-flex justify-content-start flex-wrap ">
                <% if(carcass[0] === undefined){%>
                    <h2>No carrion to feed on yet. Keep circling...</h2>
                    <%}%>
                <% for (let i in carcass){%>
                    <div class="d-flex flex-column justify-content-start itemContainer align-self-start clickModal">
                        <div class="d-flex justify-content-center align-items-center p-4 indexCol " data-id ='<%=carcass[i].id%>' data-floor='<%=carcass[i].floor%>' data-room='<%=carcass[i].room%>' <% if(carcass[i].rmName){%>data-name='<%=carcass[i].rmName%>'<%}%>>
                            Bldg: <%=carcass[i].building%><br>
                            Floor: <%=carcass[i].floor%><br>
                            Rm: <%=carcass[i].room%><br>
                            <% if(carcass[i].rmName){%>
                                Rm Name: <%=carcass[i].rmName%><br>
                                <%}%>
                        </div>
                    </div>

                <%}%>
                </div>
                <div class="col buildingContainer d-flex justify-content-center align-self-start">
                    <div class="building ">
                        <%for(let i = 7; i > 0; i--){%>
                            <div class="floor my-2 p-2 d-flex justify-content-start" id = "floor<%=i%>">

                                <div class="floorName">
                                    <h3>Floor <%=i%></h3>
                                </div>
                            </div>
                        <%}%>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
