<!DOCTYPE html>
<html lang="en" dir="ltr">
    <% include ../partials/head.ejs %>
    <body>
        <div class="container">
            <h1>Dashboard</h1>
            <form class="btn "action="/session/clear" method="post">
                <input type="submit" value="Log Out">
            </form>
            <div class="row">
                <% for (let i in carcass){%>

                        <div class="col indexCol" data-id ='<%=carcass[i].id%>' >
                            Building: <%=carcass[i].building%><br>
                            Floor: <%=carcass[i].floor%><br>
                            Room: <%=carcass[i].room%><br>
                            <% if(carcass[i].rmName){%>
                                Room Name: <%=carcass[i].rmName%><br>
                                <%}%>
                            Description: <%=carcass[i].description%>
                            <div class="row">
                                <a class="btn btn-primary" href="/dashboard/<%=carcass[i].id%>/edit">Update</a>
                                <a class="btn btn-success" href="/dashboard/<%=carcass[i].id%>">View Carcass Details</a>
                            </div>
                        </div>

                <%}%>
            </div>
            <a class="btn btn-dark" href="/dashboard/new">Claim a carcass</a>
        </div>
    </body>
</html>
