<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title comment px-2" id="detailsModalLabel">Feast on this!</h1>
      <% if(carcass.createdBy === user){%>
          <a class = "btn btn-outline-dark mx-3" href="/dashboard/<%=carcass.id%>/edit">Edit</a>
      <%}%>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div id = 'dashboardModalBody'class="modal-body commentSection my-2">
        <div class="row">
            <div class="col">
                <p><span class='modalP'>Building:</span> <%=carcass.building%></p>
                <p><span class='modalP'>Floor:</span> <%=carcass.floor%></p>
            </div>
            <div class="col">
                <p><span class='modalP'>Room:</span> <%=carcass.room%></p>
                <% if(carcass.rmName){%>
                    <p ><span class='modalP'>Room Name:</span> <%=carcass.rmName%></p>
                    <%}%>
            </div>
        </div>

        <p class = 'm-0'><span class='modalP'>Description:</span></p>
        <div class='modalDescription d-flex align-items-center p-2'>
            <div><%=carcass.description%></div>
        </div>
    </div>
    <section class="commentSection p-2">
        <p><span class = "modalP">Comments:</span></p>
        <% if(carcass.comments[0] === undefined){%>
            <p>Be the first to comment!</p>
            <%}else{%>
                <% for(let i in carcass.comments){%>
                    <div class="comment m-2 p-2">
                    <small>posted by: <%=carcass.commentBy[i]%></small>
                    <p><%=carcass.comments[i]%></p>
                    </div>
                <%}%>
            <%}%>
    </section>
    <section class = "commentSection p-2 my-2">
        <form id='commentForm' action="/dashboard/<%=carcass.id%>/comment?_method=PUT" method="post">
            <div class="form-group">
                <legend><span class='modalP'>Comment:</span></legend>
                <textarea name="comments" rows="4" cols="40"></textarea>
            </div>
            <input class="btn btn-success" type="submit" value="Post Comment">
        </form>
    </section>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
